@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.box {
    position: relative;
    width: 300px;
    height: 400px;
    -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, #0004);
    transition: 0.5s;
    overflow: hidden;
    transform: rotateY(-40deg);
}

.box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 10px 10px 50px 10px;
    transform: translateY(30px);
    transition: 0.5s;
    opacity: 0;
}

.info h2 {
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.info ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.info ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 5px;
}

.box:hover {
    transform: rotateY(0deg);
}

.box:hover img {
    transform: scale(1.5);
}

.box:hover .info {
    transform: translateY(0px);
    opacity: 1;
}